ion-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#songForm {
    background-color: rgb(48, 48, 48);
    padding: 15px;
    border-radius: 10px;
    width: 60vh;
}

.imgItem {
    max-width: 50vh;
    max-height: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

#songInfo {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > .formRow {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > .formRow > ion-item {
    margin-bottom: 10px;
    border-radius: 10px;
}

#imgItem {
    width: 50vh;
}