<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/turbomember-zone"></ion-back-button>
    </ion-buttons>
    <ion-title>Edita la canción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <div id="songForm" *ngIf="songForm">
        <form class="form" [formGroup]="songForm" (ngSubmit)="editSong(songForm.value)">
          <div class="formRow">
            <ion-item>
              <ion-input label="URL imagen" labelPlacement="floating" placeholder="http://ww..." type="text"
                formControlName="url"></ion-input>
            </ion-item>
          </div>

          <div class="formRow">
            <ion-item>
              <ion-input label="Nombre de la canción:" labelPlacement="floating" placeholder="nombre" type="text"
                formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Duration" labelPlacement="floating" placeholder="XX:XX" type="text"
                formControlName="duration"></ion-input>
            </ion-item>
          </div>

          <div class="formRow">
            <ion-item>
              <ion-input label="Artista:" labelPlacement="floating" placeholder="artista" type="text"
                formControlName="artist"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Album" labelPlacement="floating" placeholder="album" type="text"
                formControlName="album"></ion-input>
            </ion-item>
          </div>

          <div class="formRow">
            <ion-item>
              <ion-input label="Fecha de lanzamiento:" labelPlacement="floating" placeholder="YYYY-MM-DD" type="text"
                formControlName="date"></ion-input>
            </ion-item>
          </div>

          <div id="formSubmit">
            <ion-button type="submit" [disabled]="!songForm.valid">Añadir canción</ion-button>
          </div>
        </form>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
