<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Todas las canciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="songs.length > 0">
    <ion-row *ngFor="let song of songs" class="ion-align-items-center ion-justify-content-center">
      <ion-card>
        <ion-card-content id="imageContainer">
          <div>
            <ion-img *ngIf="song.image === undefined" src="assets/img/no_image.png" alt="no imagen"></ion-img>
            <ion-img *ngIf="song.image !== undefined && song.image.url === undefined" [src]="song.image.base64"
              alt="no imagen"></ion-img>
            <ion-img *ngIf="song.image !== undefined && song.image.url !== undefined" [src]="song.image.url"
              alt="no imagen"></ion-img>
          </div>

          <div id="songInfo">
            <ion-title>{{song.name}}</ion-title>
          </div>
          <div id="songInfo">
            {{song.artist}}
          </div>
          
          <div id="songButtons">
            <ion-button id="detailsButton{{song._id}}" label="details" [routerLink]="['/', 'songs', 'song-details', song._id]" color="primary">
              DETALLES
            </ion-button>
            <ion-button id="editButton{{song._id}}" label="edit" [routerLink]="['/', 'turbomember-zone', 'edit-song', song._id]" color="primary">
              EDITAR
            </ion-button>
            <ion-button id="deleteButton{{song._id}}" label="delete" [routerLink]="['/', 'songs', 'song-details', song._id]" color="primary">
              BORRAR
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>