ion-card {
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ion-img {
    max-width: 15vw;
    max-height: 15vw;
    margin: 10px;
}

#imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#songInfo {
    display: flex;
    align-items: center;
}

#songInfoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}
