<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Búsqueda de canciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row id="formRow" class="ion-align-items-center ion-justify-content-center">
      <div id="searchForm" *ngIf="searchForm">
        <form class="form" [formGroup]="searchForm" (ngSubmit)="searchSong(searchForm.value)">
          <ion-item>
            <ion-input label="Nombre de la canción:" labelPlacement="floating" placeholder="nombre" type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Artista:" labelPlacement="floating" placeholder="artista" type="text" formControlName="artist"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Fecha de lanzamiento:" labelPlacement="floating" placeholder="YYYY/MM/DD" type="text" formControlName="date"></ion-input>
          </ion-item>

          <div id="formSubmit">
            <ion-button type="submit" [disabled]="!searchForm.valid">Buscar</ion-button>
          </div>
        </form>
      </div>
    </ion-row>

    <ion-row *ngFor="let song of songs" class="ion-align-items-center ion-justify-content-center">
      <ion-card>
        <ion-card-content id="imageContainer">
          <div>
            <ion-img *ngIf="song.image === undefined" src="assets/img/no_image.png" alt="no imagen"></ion-img>
            <ion-img *ngIf="song.image !== undefined && song.image.url === undefined" [src]="song.image.base64"
              alt="no imagen"></ion-img>
            <ion-img *ngIf="song.image !== undefined && song.image.url !== undefined" [src]="song.image.url"
              alt="no imagen"></ion-img>
          </div>
          <div id="songInfo">
            <div id="songInfoTitle"><ion-title>{{song.name}}</ion-title>{{song.artist}}</div>
          </div>
          <p>{{song.album}} - {{song.date}}</p>
          <p>{{song.genre}} - {{song.duration}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>