ion-toolbar > ion-button {
    margin-right: 10px;
}

ion-card {
    width: 80vh;
    border-radius: 25px;
}

#container > ion-button {
    margin-top: 10px;
    margin-bottom: 35px;
}

#logoTurbofy > img {
    max-width: 20vh;
}