ion-card {
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

ion-img {
    max-width: 10vw;
    max-height: 10vw;
    margin: 10px;
}

ion-img::part(image) {
    border-radius: 10px;
}

#imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#songInfo {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form > ion-item {
    margin-right: 20px;
    border-radius: 10px;
}

#formRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchForm {
    background-color: rgb(48, 48, 48);
    padding: 15px;
    border-radius: 10px;
}