<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Turbofy
    </ion-title>
    <ion-button id="registerButton" label="register" slot="end">
      REGISTRO
    </ion-button>
    <ion-button id="loginButton" label="login" slot="end">
      LOGIN
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-card>
        <ion-card-header>
          <div id="logoTurbofy">
            <img src="assets/img/turbofy.png" alt="no imagen">
            <ion-card-title>
              Bienvenido a Turbofy
            </ion-card-title>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div id="container">
            <p>Con Turbofy puedes guardar tus canciones favoritas, ¡Solamente tienes que registrarte gratis!</p>&nbsp;
            <p>Tan fácil como introducir a mano los datos o buscar las canciones directamente en Spotify.</p>
            <p>¡Tú eliges!</p>&nbsp;&nbsp;

            <p>¿Quieres probar? Busca alguna canción en Turbofy</p>
            <ion-button id="searchButton">
              <ion-icon name="musical-note-outline"></ion-icon>&nbsp;
              Buscar canciones
            </ion-button>

            <p>También puedes acceder al listado completo de canciones:</p>
            <ion-button id="allSongsButton">
              <ion-icon name="musical-notes-outline"></ion-icon>&nbsp;
              Ver todas las canciones
            </ion-button>

            <p>Regístrate para descubrir todas las funcionalidades de Turbofy:</p>
            <ion-button id="turbomemberButton">
              <ion-icon name="person-add-outline"></ion-icon>&nbsp;
              ¡Quiero ser un Turbomember!
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>