ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

ion-card#songDetails {
    width: 50vh;
}

ion-card.songComment {
    width: 100vh;
}

ion-img {
    max-width: 20vw;
    max-height: 20vw;
    margin: 10px;
}

ion-img::part(image) {
    border-radius: 10px;
}

#imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#songInfo {
    display: flex;
    align-items: center;
}

#songInfoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > ion-item {
    border-radius: 10px;
    margin:10px;
}

#formRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

#commentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.commentAuthor {
    margin-bottom: 10px;
}

.commentComment {
    margin-bottom: 10px;
}

#commentForm {
    background-color: rgb(48, 48, 48);
    padding: 15px;
    border-radius: 10px;
}