<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la canción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- DETALLES CANCION -->
    <ion-row *ngIf="song" class="ion-align-items-center ion-justify-content-center">
      <ion-card id="songDetails">
        <ion-card-content id="imageContainer">
          <div>
            <ion-img *ngIf="song.image === undefined" src="assets/img/no_image.png" alt="no imagen"></ion-img>
            <ion-img *ngIf="song.image !== undefined && song.image.url === undefined" [src]="song.image.base64"
              alt="no imagen"></ion-img>
            <ion-img *ngIf="song.image !== undefined && song.image.url !== undefined" [src]="song.image.url"
              alt="no imagen"></ion-img>
          </div>

          <div id="songInfo">
            <div id="songInfoTitle"><ion-title>{{song.name}}</ion-title><ion-badge>{{song.duration}}</ion-badge></div>
          </div>
          <p>{{song.artist}} - {{song.album}}</p>
          <p>{{song.date}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- RECUADRO AÑADIR COMENTARIO -->
    <ion-row id="formRow" class="ion-align-items-center ion-justify-content-center">
      <div id="commentForm" *ngIf="commentForm">
        <form class="form" [formGroup]="commentForm" (ngSubmit)="addComment(commentForm.value)">
          <ion-item>
            <ion-input label="Autor:" labelPlacement="floating" placeholder="nombre" type="text"
              formControlName="author"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Comentario:" labelPlacement="floating" placeholder="texto" type="text"
              formControlName="comment"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Puntuación (0 a 5)" labelPlacement="floating" placeholder="X" type="text"
              formControlName="rating"></ion-input>
          </ion-item>

          <div id="formSubmit">
            <ion-button type="submit" [disabled]="!commentForm.valid">Añadir comentario</ion-button>
          </div>
        </form>
      </div>
    </ion-row>

    <!-- LISTADO COMENTARIOS -->
    <ion-row *ngFor="let comment of comments" class="ion-align-items-center ion-justify-content-center">
      <ion-card class="songComment">
        <ion-card-content id="commentContainer">
          <div class="commentAuthor">
            <ion-title>{{comment.author}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.rating}} <ion-icon name="star"
                color="primary"></ion-icon></ion-title>
          </div>
          <div class="commentComment">
            <p>{{comment.comment}}</p>
          </div>
          <div class="commentDate">
            <h2>Fecha:</h2>
            <p>{{comment.date}}</p>
          </div>

          <div id="commentButtons">
            <ion-button *ngIf="loggedIn" id="deleteButton{{comment._id}}" label="delete" color="danger"
              (click)="deleteComment(comment._id)">
              BORRAR
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>